{%load static%}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Repository of Court Case</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0b1d7c9201.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/Dashboard/Dashboard.css' %}">
    <script src="{% static 'js/Dashboard/Dashboard.js' %}"></script>
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar">
            <ul class="list-unstyled">                   
                <li>
                    <a href="{%url 'nodaldashboard' user %}"><i class="fa fa-line-chart" 
                        style="margin-right: 10px; font-size: small;"></i>DashBoard</a>
                </li>
                        
                    <li>
                        <a href="{% url 'viewcase' user %}">
                            <i class="fa fa-eye" style="margin-right: 10px; font-size: small;"></i>View Case</a>
                    </li>                


                    <li>
                        <a href="{% url 'viewlawyer' user%}">
                            <i class="fa fa-eye" style="margin-right: 10px; font-size: small;"></i>View Lawyer</a>
                    </li>                

                <li>
                    <a href="{% url 'invoicenodal' user%}" role="button"><i class="fa fa-file-text" style="margin-right: 10px; font-size: small;">
                    </i>Invoice</a>
                </li>

                <!-- <div class="dropdown-container" id="dropmenu3" style="display: none;">
                    <li>
                        <a href="Add_Invoice.html">
                            <i class="fa fa-plus" style="margin-right: 10px; font-size: small;"></i>Add Invoice</a>
                    </li>

                    <li>
                        <a href="View_Invoice.html">
                            <i class="fa fa-eye small" style="margin-right: 10px; font-size: small;"></i>View Invoice</a>
                    </li>
                </div> -->                

                <li>
                    <a href="{%url 'search' user%}" role="button"><i class="fa fa-search" style="margin-right: 10px; font-size: small;">
                    </i>Search</a>
                </li>
                
                <li>
                    <a href="{% url 'notify' user %}"><i class="fa fa-bell"
                            style="margin-right: 10px; font-size: small;"></i>Notification</a>
                </li>

                <li>
                    <a href="{%url 'nodalmanageprofile' user %}" class="active"><i class="fa fa-user small" style="margin-right: 10px;"></i>Manage
                        Profile</a>
                </li>

                <li>
                    <a href="{% url 'logout' %}"><i class="fa fa-sign-out" style="margin-right: 10px; font-size: small;"></i>Log
                        Out</a>
                </li>
            </ul>
        </nav>


        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-white">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn  btn-outline-dark">
                        <i class="fas fa-align-left"></i>
                        <span>Menu</span>
                    </button>
                </div>
            </nav>

            <!-- main body start -->
            <div class="container">
                <h1 class="display-5" style="display: flex; vertical-align: middle;">Change Password</h1>
                <hr class="my-4">

                <form action="{%url 'updatenodalpassword' user %}" method="POST" onsubmit="return validate()">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="formGroupExampleInput">Current Password :</label>
                      <input type="password" class="form-control col-md-5" name="currentPassword" id="currentPassword"
                        placeholder="Enter Your Current Password" required>
                      <span class="text-danger" id="validationMessageForCurrentName"></span>
                    </div>

                    <div style='color:red'>
                        {% for msg in messages %}
                            <span class="text-danger">{{msg}}</span>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                      <label for="formGroupExampleInput">New Password:</label>
                      <input type="password" class="form-control col-md-5" name="password" id="password"
                        placeholder="Enter Your New Password" required>
                      <span class="text-danger" id="validationMessageForPassword"></span>
                    </div>
                    <div class="form-group">
                      <label for="formGroupExampleInput">Confirm Password:</label>
                      <input type="password" class="form-control col-md-5" name="confirmPassword" id="confirmPassword"
                        placeholder="Enter Your Confirm Password" required>
                      <span class="text-danger" id="validationMessageForConfirmPassword"></span>
                    </div>
                    <div class="from-row">                    
                      <button type="submit" class="btn btn-primary mr-1" style="margin-bottom: 10px;">Change
                        Password</button>
                      <button type="button" class="btn btn-primary mr-1" style="margin-bottom: 10px;"
                        onclick="return back()">Back</button>
                    </div>
                  </form>



            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script>

        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });

    </script>
    <script>        
      function validate() {

        /*Password Validation Start*/
        var password = document.getElementById("password").value;
        var cpassword = document.getElementById('confirmPassword').value;
        if (password.length < 8) {
          document.getElementById('validationMessageForPassword').innerHTML = "Please enter password of atleast 8 characters";
          return false;
        }
        if (password.length > 16) {
          document.getElementById('validationMessageForPassword').innerHTML = "Please enter password of less than 16 characters";
          return false;
        }
        if (password == cpassword) {
          document.getElementById('validationMessageForPassword').innerHTML = "";
        } else {
          document.getElementById('validationMessageForConfirmPassword').innerHTML = "Password doesn't match";
          return false;
        }
        /*Password Validation Ends*/             
      }        
    </script>
    <script>
        function back() {
          window.history.back();
        }        
    </script>

</body>

</html>